<?xml version="1.0" encoding="utf-8" ?>
<server>
  <!-- Server configuration for the privacyIDEA system -->
  <url>https://192.168.230.126</url>
  <!-- define the realm at the privacyIDEA for the ADFS authentication-->
  <realm>adfs</realm>
  <!-- false = ssl cert check disable / true = ssl cert check enabled -->
  <ssl>false</ssl>
  <!-- 
      Provide a administrative user and password for the API.
      Only needed if a challenge must be triggered (e.g. Email or SMS token)!
      If not -> left blank.
  -->
  <adminuser></adminuser>
  <adminpw></adminpw>

  <!-- UI text for the websites (no localization for now) -->
  <interface>
    <errormessage>Login failed! Please try again!</errormessage>
    <wellcomemessage>Please provide the one-time-password:</wellcomemessage>
  </interface>
</server>
